@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    .dashboardBackground {
        background: url('/paperBackground.png') center / cover no-repeat;
        min-height: 100vh;
    }

    .bookShelf {
        background-color: rgba(134, 100, 61, 0.5);

        box-shadow: inset #3e3832 4px 8px 16px 4px;

        border-color: #3e3832;
        border-width: 1px;
        padding: 8px;

        width: 360px;

        min-height: 100vh;
    }

    .bookComponent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #6B133D;
        color: #F8ECDC;

        width: 100%;
        height: 82px;
        margin: 2px;

        border-radius: 24px;
        border: 1px outset var(--a-surface-alt-3-moderate);

        transition-duration: 0.2s;
    }

    .bookComponent:hover {
        background-color: #6B133D;
        scale: 102%;
        transition-duration: 0.3s;
    }
}
